## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json

## Visual Studio
.vs/
*.rsuser
*.sln.docstates

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml

## OS files
.DS_Store
Thumbs.db

## Crucible-specific
dist/
intermediate/
